@gregjoeval:registry=https://npm.pkg.github.com
@gregjoeval:email=gregjoeval@gmail.com
@gregjoeval:username=gregjoeval
@gregjoeval:always-auth=false
@gregjoeval:_password=556aa038f27c34d2fb7144b7bf47d209d535bd13